@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-main-bg: #2a3447;
    --color-soft-bg: #384256;
    --color-dark-bg: #222b3c;
    --color-main-color: white;
    --color-soft-color: #ddd;
    --color-dark-color: #2a3447;
    --color-dark: #e01010;
}